.steps {
    display: flex;
    gap: 4rem;
    position: relative;
}

.steps::after {
    content: "";
    width: 100%;
    border-bottom: 1px solid #6d6d6d;
    position: absolute;
    top: 30px;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #949494;
    background-color: #F7EFE5;
    z-index: 1;
    padding: 1em;
    font-size: 1.2em;
}

.active-step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bolder;
    color: #000000;
    background-color: #F7EFE5;
    z-index: 1;
    padding: 1em;
    font-size: 1.2em;
}

.active-step p {
    font-size: 0.8em;
    color: #000000;
    font-weight: lighter;
}

.step p {
    font-size: 0.8em;
    color: #474747;
    font-weight: lighter;
}

@media screen and (max-width: 600px){
    .steps{
        display: none;
    }
}