@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{  
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #F7EFE5;
  height: 100vh;
  width: 100vw;
}

input {
  border: none;
  outline: none;
  background-color: #F7EFE5;
  border-bottom: 1px solid #000;
  margin: 2em;
  width: 50%;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}

input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

.btn {
  border-color: #181818;
  background-color: #F7EFE5;
  border: 1px solid;
  width: 13vw;
  margin: 2em;
  padding: 0.5em;
  border-radius: 3em;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  font-size: 0.9em;
  cursor: pointer;
}

.btn:hover {
  background-color: #DDDDDD;
}

select {
  background-color: #F7EFE5;
  border-color: #181818;
  border: 0.8px solid;
  padding: 0.5em;
  outline: none;
  margin: 1em;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.presentation {
  margin: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.presentation h2 {
  color: #000;
}

.show-explain {
  display: flex;
  justify-content: center;
  padding: 1.6em;
  max-width: 30vw;
}

.show-explain span {
  position: relative;
  margin-right: 0.5em;
}

.explain p {
  font-size: 0.84em;
}

.h3-presentation{
  font-weight: lighter;
}

.icon {
    margin-right: 0.5em;
    font-size: 1.6em;
    font-weight: lighter;
}